<div style="margin-top: -80px">
    <div class="row justify-content-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>

            <p>
                Trabajo desde el desarrollo, pruebas automaticas y puesta en produccion con entrega continua.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0px 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>

            <p>
                Puedo crear front-end robustos, que cúmplan con las caractericas deseadas del cliente.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                React, angular, Blazor
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
    </div>
</div>